* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.attr-container h2 {
    margin: 20px 0px 13px 0px;
}

.attr-container p {
    font-weight: lighter;
}



.attr-container h2,
.attr-container p {
    color: #fff;
}

.icon-container {
    background: rgb(138, 36, 255);
    display: inline;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 2em;
}

@media (max-width: 375px) {
    .attr-container h2 {
        font-size: 18px;
    }

    .attr-container p {
        font-size:  16px;
    }
}

@media (max-width: 320px) {
    .attr-container h2 {
        font-size: 16px;
    }

    .attr-container p{
        font-size: 14px;
    }
}